<main>
  <app-learning-resources/>

  <hr />

  <app-auth />

  <!-- @if(isAdmin()){ 
  <p>Only admins should see this</p>
  }-->

  <!-- <p *ngIf="isAdmin()">Only admins should see this</p> -->
  
  <ng-template  appAuthDirective="admin">
      <p>Only admins should see this</p>
  </ng-template>
 
  <!--diretivas de atributos vs diretivas estrutural-->

  <!--Diretivas de Atributos (como ngModel, ngClass, ngStyle): Alteram apenas a aparência ou o 
  comportamento de um elemento que já existe na tela. 
  Elas não colocam e nem tiram tags do HTML; apenas modificam suas propriedades, estilos ou classes CSS.
  
  Diretivas Estruturais (como *ngIf, *ngFor): Alteram a estrutura do layout modificando 
  diretamente o elemento no DOM. 
  Elas adicionam, removem ou clonam elementos inteiros da página de forma dinâmica.
  
  O @if, @for e @switch são novos: Introduzidos no Angular 17, eles são chamados de 
  Control Flow (Fluxo de Controle). Eles vieram para substituir a necessidade de usar as 
  diretivas estruturais clássicas (*ngIf, *ngFor) no HTML do dia a dia, tornando o código mais 
  rápido e limpo.
  -->



</main>